<app-layout-header></app-layout-header><br/><br/><br/><br/><br/>

<router-outlet></router-outlet><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<app-layout-footer></app-layout-footer>
