<div class="home-page">

  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your <i>Angular 2</i> knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link"
                 [ngClass]="{'active': listConfig.type === 'feed'}"
                 (click)="setListTo('feed')">
                 Your Feed
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 [ngClass]="{'active': listConfig.type === 'all' && !listConfig.filters.shop}"
                 (click)="setListTo('all')">
                 Global Feed
              </a>
            </li>
            <li class="nav-item" [hidden]="!listConfig.filters.shop">
              <a class="nav-link active">
                <i class="ion-pound"></i> {{ listConfig.filters.shop }}
              </a>
            </li>
          </ul>
        </div>

        <app-glasses-list [limit]="10" [config]="listConfig"></app-glasses-list>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Shops</p>

          <div class="tag-list">
            <a *ngFor="let shop of shops"
               (click)="setListTo('all', {shop: shop})"
               class="tag-default tag-pill">
               {{ shop }}
            </a>
          </div>

          <div [hidden]="shopsLoaded">
            Loading shops...
          </div>

          <div [hidden]="!shopsLoaded || shops.length > 0">
            No shops are here... yet.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
