<div class="container single_product_container">
		<div class="row">
			<div class="col-lg-7">
				<div class="single_product_pics">
					<div class="row">
						<div class="col-lg-9 image_col order-lg-2 order-1">
							<div class="single_product_image">
								<div class="single_product_image_background"><img [src]="glasses.img" alt="" style="width: 450px; height: 450px;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="product_details">
					<div class="product_details_title">
						<h2>{{glasses.name}}</h2>
						<p>{{glasses.desc}}</p>
					</div>
					<div class="free_delivery d-flex flex-row align-items-center justify-content-center">
						<span class="ti-truck"></span><span>{{glasses.type}} > {{glasses.gender}}</span>
					</div>
					<div class="product_price">{{glasses.price}}.00€</div>
					<ul class="star_rating">
						<li><i class="fa fa-star" aria-hidden="true"></i></li>
						<li><i class="fa fa-star" aria-hidden="true"></i></li>
						<li><i class="fa fa-star" aria-hidden="true"></i></li>
						<li><i class="fa fa-star" aria-hidden="true"></i></li>
						<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
					</ul>
					<div class="product_color">
						<span>Material:</span>
            <p>{{glasses.material}}</p>
          </div>
          <div class="product_color">
            <span>Stock:</span>
            <p>{{glasses.stock}} glasses left!</p>
          </div>

          <div class="row article-content">
            <div class="col-md-12">
      
              <!-- <div [innerHTML]="glasses.body | markdown"></div> -->
      
              <ul class="tag-list">
                  <a *ngFor="let shop of glasses.shopList"
                  (click)="setListTo('all', {shop: shop})"
                  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ shop: shop }"
                  class="tag-default tag-pill">
                  {{ shop }}
               </a>
              </ul>
      
            </div>
          </div>

          <app-glasses-list [limit]="3" [config]="listConfig"></app-glasses-list>

				</div>
			</div>
    </div>
	</div>
