<div class="container contact_container">
    <div class="row">
		<div class="col-lg-6 get_in_touch_col">
			<div class="get_in_touch_contents">
				<h1>Get In Touch With Us!</h1>
                <p>Fill out the form below to send us your dubts and problems.</p>

                <app-list-errors [errors]="errors"></app-list-errors>
                
				<form [formGroup]="contactForm">
                    <fieldset [disabled]="isSubmitting">
                        <div>
                            <input class="form_input input_name input_ph"
                            formControlName="name"
                            type="text"
                            placeholder="Write here your name" />
                
                            <input class="form_input input_name input_ph"
                            formControlName="email"
                            type="email"
                            placeholder="Write here your email" />
                
                            <textarea class="input_ph input_message"
                            formControlName="opinion" 
                            placeholder="Message" 
                            rows="3"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-lg pull-xs-right btn-primary" type="button" [disabled]="!contactForm.valid" (click)="submitForm()">Send</button>
                        </div>
                    </fieldset>
				</form>
			</div>
		</div>
	</div>
</div>