<br/>
<app-glasses-meta [glasses]="glasses"></app-glasses-meta>

<div class="product-item men">
  <div class="product discount product_filter">
    <div class="product_image">
      <img [src]="glasses.img">
    </div>
    <div class="favorite favorite_left"></div>
    <div class="product_info">
      <h6 class="product_name"><a [routerLink]="['/glasses', glasses.slug]" >{{ glasses.name }}</a></h6>
      <div class="product_price">{{ glasses.price }}.00€</div>
      <ul class="tag-list">
        <li class="tag-default tag-pill tag-outline"
          *ngFor="let shop of glasses.shopList">
          {{ shop }}
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="red_button add_to_cart_button"><a [routerLink]="['/glasses', glasses.slug]">add to cart</a></div> -->
  <div [hidden]="!canModify" class="red_button add_to_cart_button"><a (click)="deleteClicked()">DELETE</a></div>
</div>
<br/><br/>
  