<div class="col-lg-6 get_in_touch_col">
    <div class="get_in_touch_contents">
      <h1>{{ title }}</h1>
      <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
      <a [routerLink]="['/register']" *ngIf="authType == 'login'">Need an account?</a>
      <form [formGroup]="authForm" (ngSubmit)="submitForm()">
        <app-list-errors [errors]="errors"></app-list-errors>
        <div>
          <input
          formControlName="username"
          placeholder="Username"
          class="form_input input_name input_ph"
          type="text"
          *ngIf="authType == 'register'" />
          <input
          formControlName="email"
          placeholder="Email"
          class="form_input input_name input_ph"
          type="text" />
          <input
          formControlName="password"
          placeholder="Password"
          class="form_input input_name input_ph"
          type="password" />
        </div>
        <div>
            <a class="btn btn-primary" href="http://localhost:8000/api/auth/google">Goolge+</a>
            <button class="red_button message_submit_btn trans_300" [disabled]="!authForm.valid" type="submit">{{ title }}</button>
        </div>
      </form>
    </div>
  </div>
