<header class="header trans_300">
		<!-- Main Navigation -->
	<div class="main_nav_container">
	  <div class="container">
			<div class="row">
				<div class="col-lg-12 text-right">
					<div class="logo_container">
						<a routerLink="/">Glassy<span>+</span></a>
				  </div>
					<nav class="navbar">
					<!-- Show this for logged out users -->
					<ul *appShowAuthed="false" class="navbar_menu">
							<li><a routerLink="/">Home</a></li>
							<li><a routerLink="/contact">Contact</a></li>
							<li><a routerLink="/login" routerLinkActive="active">Sign in</a></li>
							<li><a routerLink="/register" routerLinkActive="active">Sign up</a></li>
						</ul>

							<!-- Show this for logged in users -->
						<ul *appShowAuthed="true" class="navbar_menu">
							<li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
							<li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
							<li><a routerLink="/editor" routerLinkActive="active"><i class="ion-compose"></i>&nbsp;New Article</a></li>
							<li><a routerLink="/settings" routerLinkActive="active"><i class="ion-gear-a"></i>&nbsp;Settings</a></li>
							<li><a [routerLink]="['/profile', currentUser.username]" routerLinkActive="active">
								<img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />{{ currentUser.username }}
							</a></li>
						</ul>
						<div class="hamburger_container">
							<i class="fa fa-bars" aria-hidden="true"></i>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
